<div class="row mb-2">
    <div class="col-md-2 offset-md-5">
        <form action="">
            <a class="btn btn-primary" href="/products/new">Novo Produto</a>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Preço</th>
                <th scope="col">Estoque</th>
                <th scope="col">Descrição</th>
                <th scope="col" class="options">Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products;">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.stock}}</td>
                    <td>{{product.description}}</td>
                    <td class="box">
                        <a class="btn btn-primary mr-2" href="/products/edit/{{product.id}}">Editar</a>
                        <button class="btn btn-danger" (click)="destroy(product)"> Apagar </button>
                    </td>
                </tr>
                <tr *ngIf="products?.length == 0">
                    <td colspan="6" class="text-center"> Nenhuma Produto Cadastrado</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>