<form #f="ngForm" autocomplete="off" (ngSubmit) = "onSubmit(f)">
    <div class="form-group">
        <label for="name">Nome Produto</label>
        <input type="text" [className]="name.invalid && (name.dirty || name.touched) ? 'form-control invalid': 'form-control'"  id="name" name="name" ngModel #name="ngModel" [(ngModel)]="product.name" required >
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="danger">
            <div *ngIf="name.errors.required">
                Nome é obrigatório.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="price">Preço do Produto</label>
        <input currencyMask  [className]="price.invalid && (price.dirty || price.touched) ? 'form-control invalid': 'form-control'"  id="price" name="price" ngModel #price="ngModel" [(ngModel)]="product.price" required >
        <div *ngIf="price.invalid && (price.dirty || price.touched)" class="danger">
            <div *ngIf="price.errors.required">
                Preço é obrigatório.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="stock">Estoque Produto</label>
        <input type="number" [className]="stock.invalid && (stock.dirty || stock.touched) ? 'form-control invalid': 'form-control'"  id="stock" name="stock" ngModel #stock="ngModel" [(ngModel)]="product.stock"  required >
        <div *ngIf="stock.invalid && (stock.dirty || stock.touched)" class="danger">
            <div *ngIf="stock.errors.required">
                Estoque é obrigatório.
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="description">Descrição</label>
        <textarea [className]="description.invalid && (description.dirty || description.touched) ? 'form-control invalid': 'form-control'" id="description" name="description" rows="3" ngModel #description="ngModel" [(ngModel)]="product.description" required></textarea>
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="danger">
            <div *ngIf="description.errors.required">
                Descrição é obrigatória.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Categoria</label>
        <select class="form-control" [className]="category_id.invalid && (category_id.dirty || category_id.touched) ? 'form-control invalid': 'form-control'"  id="category_id" name="category_id" ngModel #category_id="ngModel" [(ngModel)]="product.category_id" required>
            <option *ngFor="let category of categories;" [value]="category.id">{{category.name}}</option>
        </select>
    </div>
    <div *ngIf="category_id.invalid && (category_id.dirty || category_id.touched)" class="danger">
        <div *ngIf="category_id.errors.required">
            Descrição é obrigatória.
        </div>
    </div>
    <button type="submit" class="btn btn-primary mb-2 mr-2" >Salvar</button> 
    <a class="btn btn-danger mb-2" href="/#/products">Cancelar</a>
    <div *ngIf="submited" #alert class="alert alert-{{ type }} alert-dismissible fade show"  role="alert">
        <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{ message }}!</strong>.
    </div>
</form>