.btn{
    color: white;
}
.text-center{
    text-align: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}
th{
    text-align: center;
}
th.options{
    width: 10%;
}
