<div class="row mb-2">
    <div class="col-md-2 offset-md-5">
        <form action="">
            <a class="btn btn-primary" href="/categories/new">Nova Categoria</a>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories;">
                    <td>{{category.id}}</td>
                    <td>{{category.name}}</td>
                    <td>{{category.description}}</td>
                </tr>
                <tr *ngIf="categories.length == 0">
                    <td colspan="3" class="text-center"> Nenhuma Categoria Cadastrada</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>